{% embed 'shoelace:card' with {
    header: {
      default: header.default,
      icon: { name: header.icon.name, label: header.icon.label }
    },
  }
%}
  {% block default %}
    <p>{{ default }}</p>
  {% endblock %}

  {%  block footer %}
    {% if footer.button.preview %}
      {{ include('shoelace:button', {
        default: footer.button.preview.default,
        variant: footer.button.preview.variant,
        size: footer.button.preview.size,
        target: footer.button.preview.target,
        href: footer.button.preview.href,
      }, with_context = false) }}
    {% endif %}
    {% if footer.button.documentation %}
      {{ include('shoelace:button', {
        default: footer.button.documentation.default,
        variant: footer.button.documentation.variant,
        size: footer.button.documentation.size,
        target: footer.button.documentation.target,
        href: footer.button.documentation.href,
      }, with_context = false) }}
    {% endif %}
  {% endblock %}
{% endembed %}
