<sl-card {{ attributes }}>
  {% if header %}
    <div slot="header">
      <h3>{{ header.default }}</h3>
      {% if header.icon %}
        {{ include('shoelace:icon', { name: header.icon.name, label: header.icon.label }, with_context = false) }}
      {% endif %}
    </div>
  {% endif %}
  {% block default %}
    Card content.
  {% endblock %}
  {% if footer %}
  <div slot="footer">
    {% block footer %}
    Header Title
    {% endblock %}
  </div>
  {% endif %}
</sl-card>
