{% if label-slot %}
  {{ label-slot }}
{% endif %}
<sl-input
  {% if label %}
    label="{{ label }}"
  {% endif %}
  {% if help-text %}
    help-text="{{ help-text }}"
  {% endif %}
  {% if placeholder %}
    placeholder="{{ placeholder }}"
  {% endif %}
  {% if clearable %}
    clearable
  {% endif %}
  {% if password-toggle %}
    password-toggle
  {% endif %}
  {% if filled %}
    filled
  {% endif %}
  {% if disabled %}
    disabled
  {% endif %}
  {% if size %}
    size="{{ size }}"
  {% endif %}
  {% if pill %}
    pill
  {% endif %}
  {% if type %}
    type="{{ type }}"
  {% endif %}
>
  {% if prefix %}
    <sl-icon name="{{ prefix }}" slot="prefix"></sl-icon>
  {% endif %}
  {% if suffix %}
    <sl-icon name="{{ suffix }}" slot="prefix"></sl-icon>
  {% endif %}
</sl-input>
