<sl-button
  {% if variant %}
    variant="{{ variant }}"
  {% endif %}
  {% if size %}
    size="{{ size }}"
  {% endif %}
  {% if href %}
  href="{{ href }}"
  {% endif %}
  {% if target %}
  target="{{ target }}"
  {% endif %}
>{{ default }}</sl-button>
