<sl-qr-code
  {% if value %}
    value="{{ value }}"
  {% endif %}
  {% if label %}
    label="{{ label }}"
  {% endif %}
  {% if size %}
  size="{{ size }}"
  {% endif %}
  {% if fill %}
  fill="{{ fill }}"
  {% endif %}
  {% if background %}
  background="{{ background }}"
  {% endif %}
  {% if radius %}
  radius="{{ radius }}"
  {% endif %}
  {% if errorCorrection %}
  errorCorrection="{{ errorCorrection }}"
  {% endif %}
></sl-qr-code>
