<sl-alert {{ attributes }}
  {% if open %} open {% endif %}
  {% if variant %}
    variant="{{ variant }}"
  {% endif %}
  {% if closeable %}
    closable
  {% endif %}
  {% if duration %}
    duration="{{ duration }}"
  {% endif %}
>
  {% block icon %}
    {{ include('shoelace:icon', { name: icon.name, label: icon.label, library: icon.library }, with_context = false) }}
  {% endblock %}
  {% block default %}
    {{ default }}
  {% endblock %}
</sl-alert>
