sl-card::part(base) {
  height: 100%;
}
sl-card::part(body) {
  min-height: 200px;
}

.card-overview {
  max-width: 300px;
  min-width: 300px;
  margin: 5px;
}
.card-overview small {
  color: var(--sl-color-neutral-500);
}
.card-overview [slot=footer] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-overview.card-header {
  max-width: 300px;
}
.card-overview.card-header [slot=header] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-overview.card-header h3 {
  margin: 0;
}
.card-overview.card-header sl-icon {
  font-size: var(--sl-font-size-large);
}
.card-overview.card-header sl-icon-button {
  font-size: var(--sl-font-size-medium);
}
