sl-card {
  &::part(base) {
    height: 100%;
  }

  &::part(body) {
    min-height: 200px;
  }
}
.card-overview {
  max-width: 300px;
  min-width: 300px;
  margin: 5px;
  small {
    color: var(--sl-color-neutral-500);
  }
  [slot='footer'] {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.card-header {
    max-width: 300px;
    [slot='header'] {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h3 {
      margin: 0;
    }
    sl-icon {
      font-size: var(--sl-font-size-large);
    }
    sl-icon-button {
      font-size: var(--sl-font-size-medium);
    }
  }
}
